---
// src/pages/index.astro
import "../styles/global.css";
import BaseLayout      from "../layouts/BaseLayout.astro";
import TopAppBar       from "../components/TopAppBar.astro";
import HeroSection     from "../components/HeroSection.astro";
import TechStackBento  from "../components/TechStackBento.astro";
import MultimodalSection from "../components/MultimodalSection.astro";
import NeuralSandbox   from "../components/NeuralSandbox.astro";
import Footer          from "../components/Footer.astro";
---

<BaseLayout>
  <TopAppBar />
  <main class="pt-32">
    <HeroSection />
    <TechStackBento />
    <MultimodalSection />
    <NeuralSandbox />
  </main>
  <Footer />
</BaseLayout>
