---
// src/pages/index.astro
import BaseLayout from "../layouts/BaseLayout.astro";
import TopAppBar from "../components/TopAppBar.astro";
import HeroSection from "../components/HeroSection.astro";
import Advantages from "../components/Advantages.astro";
import MultimodalSection from "../components/MultimodalSection.astro";
import Footer from "../components/Footer.astro";
import Comparative from "../components/Comparative.astro";
import TechStack from "../components/TechStack.astro";
import Questions from "../components/Questions.astro";
---

<BaseLayout>
  <TopAppBar />
  <main class="pt-32">
    <HeroSection />
    <Advantages />
    <Comparative />
    <!-- <MultimodalSection /> -->
    <TechStack />
    <Questions />
  </main>
  <Footer />
</BaseLayout>
